<!-- <div id="sticky-menu" class="row-fluid">
  <div class="span4 widget-span widget-type-logo" data-widget-type="logo" data-x="0" data-w="4">

  </div>
  <div class="span8 widget-span widget-type-menu navbar-bg hidden-phone custom-menu-primary js-enabled" style="text-align: center;" data-widget-type="menu" data-x="4" data-w="8">
    <div class="cell-wrapper layout-widget-wrapper">
      <ul>
        <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="menu">
          <a href="https://www.finos.org/programs" aria-haspopup="true" aria-expanded="false" role="menuitem">Programs</a>
          <div class="child-trigger"><i></i></div>
          <ul class="hs-menu-children-wrapper">
            <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.finos.org/dav" role="menuitem">Data Analytics Visualization</a></li>
            <li class="hs-menu-item hs-menu-depth-2"><a href="https://www.finos.org/dt" role="menuitem">Data Technologies</a></li>
          </ul>
        </li>
        <li class="hs-menu-item hs-menu-depth-1" role="menu"><a href="https://www.finos.org/community" aria-haspopup="true" aria-expanded="false" role="menuitem">Community</a></li>
        <li class="hs-menu-item hs-menu-depth-1"><a href="https://www.finos.org/sign-up" role="menuitem">Sign Up</a></li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark sticky-top">

</nav> -->
<div id="homepage-intro">
  
    <a href="https://finos.org" id="hs-link-logo" style="border-width:0px;border:0px;">
      <img src="https://www.finos.org/hs-fs/hubfs/sofin%20assets/SOFIN%20LOGOS/finos-logo.png?t=1543347800633" class="hs-image-widget" alt="FINOS" title="FINOS"/>
    </a>
  
  <div class="span8">
    <ul class="nav nav-fill">
      <li class="nav-item"><a class="nav-link" href="https://fdc3.finos.org">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3.finos.org/#charter">FDC3 Charter</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3-api.finos.org">API</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3-app-directory.finos.org">App Directory</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3-context-data.finos.org">Context Data</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3-intents.finos.org">Intents</a></li>
      <li class="nav-item"><a class="nav-link" href="https://fdc3-use-cases.finos.org">Use Cases</a></li>
    </ul>
<!--     <div class="intro-block">
      <span class="logo">
        <img src="/assets/img/FDC3_logo.png" class="alternate" alt="" title="" class="logo-spacing"/>
      </span>
      {% unless page.hidebanner %}
        {% include banner.html %}
      {% endunless %}
    </div> -->
  </div>
</div>