
<!--<nav class="navbar navbar-dark bg-dark sticky-top" style="background-color: #000000 !important; float: right;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>-->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/FDC3_logo-close-crop.png" width="30" height="30" class="d-inline-block align-top" alt="">
      FDC3
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
     <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
  
  <!--<div id="homepage-intro">
    <div class="span9">
      <ul class="collapse nav nav-fill" id="navbarToggleExternalContent">
        <li class="nav-item"><a class="nav-link" href="https://fdc3.finos.org">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3.finos.org/#charter">FDC3 Charter</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3-api.finos.org">API</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3-app-directory.finos.org">App Directory</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3-context-data.finos.org">Context Data</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3-intents.finos.org">Intents</a></li>
        <li class="nav-item"><a class="nav-link" href="https://fdc3-use-cases.finos.org">Use Cases</a></li>
      </ul>
      <div class="intro-block">
        <span class="logo">
          <img src="/assets/img/FDC3_logo-close-crop.png" class="alternate" alt="" title="" class="logo-spacing"/>
        </span>
        {% unless page.hidebanner %}
          {% include banner.html %}
        {% endunless %}
      </div>
    </div>
  </div>
  
  