# Website NPM build
website/build/
website/i18n/
website/node_modules/

# Codegen builds
npm-codegen/node_modules/
npm-codegen/*/node_modules/
npm-codegen/*/package-lock.json
npm-codegen/dist/

# Typedoc generated .md files
docs/interfaces/
