---
---

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800');
@font-face {
    font-family: "Montserrat Light";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    font-style: normal;
    font-weight: 800;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Bold/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn2.hubspot.net/hubfs/2419532/FINOS/fonts/Montserrat%20Regular/Montserrat-Regular.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/2419532/FINOS/fonts/Montserrat%20Regular/Montserrat-Regular.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/2419532/FINOS/fonts/Montserrat%20Regular/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Italic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.eot") format("embedded-opentype"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.woff") format("woff"),
    url("//cdn2.hubspot.net/hubfs/2419532/sofin%20assets/Montserrat%20Italic/Montserrat-Italic.ttf") format("truetype");
}

html, body {
    width:100%;
    height:100%;
    margin:0;
    font-family: "Montserrat Light" !important;
}

img.hs-image-widget  {
    padding-top: 70px;
    padding-bottom: 60px;
    height: 100% !important;
    width: 100% !important;
}

#homepage-intro {
	height: 50px
}