<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include common/head.html %}
  <body>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap container" class="outer">
      {% include common/header.html %}
      <div class="main_content">
        <div class="row">
          {% if page.sidebar %}
            <div id="left-sidebar" class="col-lg-3">
              {% include common/sidebar.html %}
            </div>
          {% endif %}
          <div class="col">
            <section id="main_content" class="inner">
              {{ content }}
            </section>
          </div>
        </div>
      </div>
    </div>
    {% include common/footer.html %}
    {% include common/ga.html %}
  </body>
</html>