<div class="container" style="margin-top: 10%;">
  <div class="row">
    <div class="span4 iconbox">
        <h4 style="padding-top: 50px;">APP DIRECTORY</h4>
        <p>Provide secure, trusted identity, and intuitive service discovery using standardized app directories.<br> <a href="https://github.com/FDC3/App-Directory/blob/master/Specification-Draft.MD">Read draft spec</a>.</p>
    </div>
    <div class="span4 iconbox ">
      <h4 style="padding-top: 50px;">CONTEXT</h4>
      <p>Share context between apps to eliminate re-keying, streamline workflow and surface intelligence.<br> <a href="https://github.com/FDC3/App-Directory/blob/master/Specification-Draft.MD">Read the spec</a>.</p>
    </div>
    <div class="span iconbox">
      <h4 style="padding-top: 50px;">INTENTS</h4>
      <p>Use standardized intents to tell other apps to take an action such as showing a chart or news.<br> <a href="https://github.com/FDC3/App-Directory/blob/master/Specification-Draft.MD">Read draft spec</a>.</p>
    </div>
  </div>
</div>